package views


templ Index() {
	<html>
	<head><link rel="stylesheet" href="/static/assets/css/styles.css"/></head>
		<body >
			@navbar()
			<div class="container mx-auto py-4">
			huhh, cards here:
			@playlistCard("No sheets tutorial", 
			"utkar5hM", 
			"https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp")
			</div>
			@footer()
		</body>
	</html>
}